:global(#app) {
  .controls {
    display: flex;
    max-width: 280px;

    @media only screen and (max-width: 767px) {
      max-width: 226px;
    }
  }

  .createButton {
    white-space: nowrap;
  }

  .field {
    margin-bottom: 8px;
  }

  // -------------------

  .labelButton {
    background: transparent;
    border: none;
    display: inline-block;
    outline: none;
    padding: 0;
  }

  .labelItem {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-right: 4px;
    max-width: 190px;
    vertical-align: top;
    cursor: pointer;
  }

  .placeholderText {
    background: rgba(0, 0, 0, 0.24);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 8px;

    &:hover {
      background: rgba(0, 0, 0, 0.32);
    }
  }

  .labelTitle {
    border-radius: 3px;
    color: #000;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 12px;
  }
}
